.container-cart{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bubble-counter{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble-counter span{
    color: white;
}